*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width: 435px) {
  .top{
    width: 100%;
    height: 8vh;
  }
  .logo img{
    width: 15vh;
    height: 8vh;
  }
  nav {
    display: none;
  }
  .btn{
    margin-left: 5px ;
    width: 55px;
    height: 15px;
    font-size: 6px;
  }
  .row{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 90vh;
  }
  #col1{
    width: 100%;
  }
   #col1 h3{
    margin-top: 10px;
    font-size: 10px;
   }

   #col1 h1{
    font-size: 35px;
   }
   #book{
    margin: 10px;
   }
   #col2{
    width: 80%;
    height: 120%;
    
   }
   #col3{
    font-size: 10px;
   }
   .m1, .m2{
    display: none;
   }

   .m3{
    width: 100%;
    height: 6vh;
   }
   .m3 ul li{
    margin: 0;
    padding: 10px;
   }
   .m3 ul li a{
    font-size: 10px;
   }
   .m4{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    border: none;
   }
   .m4 img{
    width: 40vh;
    height: 35vh;
    margin: 0;
   }
   .m5{
    border: none;
   }

}